<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <link rel="stylesheet" href="/css/style.css">
  <title>homepage</title>
  <link rel="stylesheet" href="">
</head>
<body class=>

 <header class="header">
   <ul class="nav">
    <li><a href="/signup">Sign Up</a></li>
    <li><a href="/login">Log In</a></li>
  </ul>
   <div id='pic'><img src="images/chucknorris.png" alt="chuck norris image"></div>

 </header>

 <h1> Only Chuck Norris</h1>
<div class=container>

        <ul class="jokeul">
          <% console.log(chuckjoke)%>
          <% for(let i = 0; i < chuckjoke.value.length; i++){ %>

            <div class="list">

              <%=chuckjoke.value[i].joke %>
            </div>
          <% }; %>
        </ul>
          <div class='favorite'> </div>

  </div>

  </body>
</html>
